In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:

# 1. Load the Excel file and the relevant sheet
file_path = r"C:\Users\krish\Desktop\L&T_Challenge\Predicted_Farmer_Income_Sample_.xlsx"
df = pd.read_excel(file_path, sheet_name="TestData")

In [13]:
# 2. Clean the 'Target_Variable/Total Income' column:
#    - Set numeric values as float
#    - Convert all '.', '..', 'put the income in numeric format', '' or any non-numeric to NaN

df['Target_Variable/Total Income'] = pd.to_numeric(
    df['Target_Variable/Total Income'], errors='coerce')

In [14]:
# 3. Split into train and test:
#    - Train: rows where income is known (notna)
#    - Test:  rows where it's missing (na)
train = df[df['Target_Variable/Total Income'].notna()].copy()
test = df[df['Target_Variable/Total Income'].isna()].copy()

In [15]:
# 4. Display the number of rows in each split
print(f"Train shape: {train.shape}")
print(f"Test shape: {test.shape}")
print(train.head())
print(test.head())

Train shape: (2, 2)
Test shape: (9984, 2)
          FarmerID  Target_Variable/Total Income
0  576972022499073                      120000.0
1  979235081831136                      200000.0
           FarmerID  Target_Variable/Total Income
2   176490610549774                           NaN
3   977021407171384                           NaN
4  1334154133262320                           NaN
5   232978933363017                           NaN
6  1151623140705580                           NaN